<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="max-width: 100%; padding:0px; margin: 0;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-cart/{{id}}" routerLinkActive="active">Cart</a>
      </ul>
    </div>
  </nav>

  <h1 class="text-center text-light">Items</h1>

  <div *ngFor = "let cart of carts" class="card-list text-center">
      <div class="card bg-dark" style="width: 18rem;">
          <img style="height: 250px; max-width: 100%;"  class="card-img-top" src="../../assets/{{cart.item}}.jpeg" alt="Card image cap">
          <div class="card-body">
          <p class="card-text text-white">Item:{{cart.item}}</p>
          <p class="card-text text-white">Price:{{cart.price}}</p>
          <div style="display:inline-block;">
              <button (click) = "Add(cart.cart_id)">+</button>
              <button (click) = "Subtract(cart.cart_id)">-</button>
              <p class="text-white" id = "item-value-{{cart.cart_id}}">{{cart.val}}</p>
          </div>
          </div>
      </div>
  </div>
</body>
</html>